.container{
  display: flex;
  height: 100%;
  align-items: center;
justify-content: center;
}

.frame {
  background-color: #e3e3e3;
  padding: 15px;
  width: 50vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.detailsContainer{
  margin-left: 100px;
  height: 100%;
  width: 40vw;
  text-align: start;
}

.color{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.colorContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px
}